<body>
<h1>Sample</h1>

<%= "Message from controller : #{@controller_message}" %>

<br/><br/>

<%= link_to("Go to index", {:controller=>'welcome',:action=>"index",:id=> 21, :random => "randomString"})%>

</body>